In [1]:
import json
import pandas as pd
import os
from tqdm import tqdm
import numpy as np

In [2]:
path = "C:\\Users\\tnv664\\OneDrive - University of Copenhagen\\Documents\\Uni\Ph.D\\deep learning\\02456-deep-learning-with-PyTorch\\project - shared data folde\\bills\\"

In [3]:
congresses = list(os.listdir(path))

In [4]:
bill_ids = []
bill_statuses = []
for congress in tqdm(congresses):
    #getting congress data 
    p_hr = path + congress + "\\hr\\"
     
    b = []
    status = []
    for bill in list(os.listdir(p_hr)):
        #p = path + bill 
        try : 
            f = open(p_hr + bill + "\\data.json")
            x = json.load(f)

            b.append(x['congress'] + "_" + bill)
            status.append(x['status'])
        except:
            print(p_hr + bill)
    
    #df_status = pd.DataFrame(np.array([b,status]).T, columns=['bill','status'])    
    bill_ids.append(b)
    bill_statuses.append(status) 
    #getting seneate data
    p_s =  path + congress + "\\s\\"
    
    b = []
    status = []
    for bill in list(os.listdir(p_s)):
       # p = path + bill 
        try :
            f = open(p_s + bill + "\\data.json")
            x = json.load(f)
    
            b.append(x['congress'] + "_" + bill)
            status.append(x['status'])
        except :
            print(p_s + bill)
    
    bill_ids.append(b)
    bill_statuses.append(status) 
    #df_status_s = pd.DataFrame(np.array([b,status]).T, columns=['bill','status'])    
    
    #df_concat = pd.concat([df_status,df_status_s])
    #df = pd.concat([df,df_concat])

 77%|██████████████████████████████████████████████████████████████▎                  | 10/13 [10:00<05:24, 108.27s/it]

C:\Users\tnv664\OneDrive - University of Copenhagen\Documents\Uni\Ph.D\deep learning\02456-deep-learning-with-PyTorch\project - shared data folde\bills\113\s\s1696

 85%|████████████████████████████████████████████████████████████████████▌            | 11/13 [11:36<03:29, 104.54s/it]

C:\Users\tnv664\OneDrive - University of Copenhagen\Documents\Uni\Ph.D\deep learning\02456-deep-learning-with-PyTorch\project - shared data folde\bills\114\s\.DS_Store

100%|██████████████████████████████████████████████████████████████████████████████████| 13/13 [15:05<00:00, 69.62s/it]

In [13]:
def flatten(t):
    return [item for sublist in t for item in sublist]

In [16]:
len()

121207

In [26]:
df_status_s = pd.DataFrame(np.array([flatten(bill_ids),flatten(bill_statuses)]).T, columns=['bill','status_code'])

In [27]:
df_status_s

              bill       status_code
0          103_hr1    ENACTED:SIGNED
1         103_hr10          REFERRED
2        103_hr100          REFERRED
3       103_hr1000          REFERRED
4       103_hr1001          REFERRED
...            ...               ...
121202    115_s995  PASS_OVER:SENATE
121203    115_s996          REFERRED
121204    115_s997          REFERRED
121205    115_s998          REFERRED
121206    115_s999          REFERRED

[121207 rows x 2 columns]

In [30]:
df_status_s['status'] = 0

In [31]:
df_status_s.loc[df_status_s['status_code'].isin(['ENACTED:SIGNED', 'ENACTED:VETO_OVERRIDE','ENACTED:TENDAYRULE']),'status'] = 1

In [32]:
df_status_s

              bill       status_code  status
0          103_hr1    ENACTED:SIGNED       1
1         103_hr10          REFERRED       0
2        103_hr100          REFERRED       0
3       103_hr1000          REFERRED       0
4       103_hr1001          REFERRED       0
...            ...               ...     ...
121202    115_s995  PASS_OVER:SENATE       0
121203    115_s996          REFERRED       0
121204    115_s997          REFERRED       0
121205    115_s998          REFERRED       0
121206    115_s999          REFERRED       0

[121207 rows x 3 columns]

In [33]:
df_status_s.to_csv('bill_status.csv')